.header {
  display: flex;
  justify-content: space-around;
  flex: 0 0 auto;
  background: rgb(132, 163, 185);
}

.title {
  font-weight: 800;
  text-transform: uppercase;
  padding: 1rem;
  color: rgb(25, 42, 54);
}
